nav {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

div.botonera {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}